:root {
    --primary: hsl(185, 96%, 35%);
    --secondary: hsl(0, 86%, 54%);
    --light: #f0f6ff;
    --dark: #262b47;
}


nav {
    background-color: var(--primary);
}

#v{
    overflow: hidden;
}




